
/86067ed3-2f24-4d45-a185-7e6b1faa5fbf
/passed_images
/.venv
/batch_viz
*.jpg
/__pycache__
/pose_scorer/__pycache__
/pose_scorer/body_group/__pycache__
/pose_scorer/face_group/__pycache__
/pose_scorer/detection/__pycache__
/pose_scorer/preprocessor/__pycache__
/pose_scorer/aggregator/__pycache__
/pose_scorer/reporter/__pycache__
/pose_scorer/frame_check/__pycache__
/.agent
/captured_videos
/batch_viz_3
/captured_shots
mcenv/
venv/
.pytest_cache/
.vscode/
.agent/
best_images_visualized/
